@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body,
html,
input {
    font-family: "Montserrat", sans-serif;
    font-size: 12pt;
}

#visualization {
    position: relative;
}

.menu {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    bottom: -50px;
    right: 0;
    margin: 10px;
}

.range {
    margin: -12px 12px 0 0;
    background: #333;
}

label,
input {
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    height: 20px;
    margin-top: -12px;
    margin-right: 12px;
}

.buttons-menu {
    background-color: #555;
    color: #fff;
    padding: 4px;
    border-radius: 50px;
    cursor: pointer;
}

.buttons-menu:hover {
    opacity: 0.9;
}

.v-text-field__slot {
    margin-bottom: 5px;
}

.buttons-menu {
    color: rgb(54, 139, 58);
    background-color: rgb(180, 180, 180);
    user-select: none;
}

.head {
    background-color: rgba(29, 211, 38, 0.473);
}

.v-menu__content {
    z-index: 1000;
}